<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Music Quiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/main-page-style.css') }}" rel="stylesheet" type="text/css"/>
</head>

<body class="css-selector">


    <form method="POST">
        <table>
            {% if tableName == 'Book' %}
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Количество страниц</th>
                <th>Отметка</th>
            </tr>
            {% for b in books %}
                <tr>
                    <td>{{ b.Title }}</td>
                    <td>{{ b.Description }}</td>
                    <td>{{ b.PageCount }}</td>
                    <td><input type="checkbox" name="{{ b.id }}"></td>
                </tr>
            {% endfor %}
            {% elif tableName == 'Author' %}
            <tr>
                <th>Имя</th>
                <th>Отметка</th>
            </tr>
            {% for a in authors %}
                <tr>
                    <td>{{ a.Name }}</td>
                    <td><input type="checkbox" name="{{ a.id }}"></td>
                </tr>
            {% endfor %}
            {% endif %}
        </table>
        <input type="submit" value="Удалить выбранные">
    </form>

</body>
</html>