<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Music Quiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/main-page-style.css') }}" rel="stylesheet" type="text/css"/>
</head>

<body class="css-selector">

    <table>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Количество страниц</th>
        </tr>
        {% for b in books %}
            <tr id="{{ b.id }}">
                <td>{{ b.Title }}</td>
                <td>{{ b.Description }}</td>
                <td>{{ b.PageCount }}</td>
            </tr>
        {% endfor %}
    </table>



    <div class="button-container">
        <a href="/add/Book"><button>+</button></a>
        <a href="/delete/Book"><button>-</button></a>
    </div>

    <table>
        <tr>
            <th>Имя</th>
        </tr>
        {% for a in authors %}
            <tr id="{{ a.id }}">
                <td>{{ a.Name }}</td>
            </tr>
        {% endfor %}
    </table>

    <div class="button-container">
        <a href="/add/Author"><button>+</button></a>
        <a href="/delete/Author"><button>-</button></a>
    </div>

</body>
</html>